* {
    border: 0;
    margin: 0;
    outline: 0;
}


body {
    background-color: #212425;}

header {
    height: 6.5rem;
    display: flex;
    background-color: rgb(74, 101, 255);
    justify-content: space-between;}

header button{
    background-color: rgb(74, 101, 255);
     border: #ffffff00;}

header span{
    font-size: 2rem;}

header span a {
    padding: 3rem;}


main{
    min-height: calc(100vh - 10rem);
    display: flex;
}

.poster {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster a img{
    scale: 2;
}

.quadrado {
    width: 70%;
    padding: 5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.quadrado aside {
    background-color: #2E6090;
    width: 100%;
    height: 20rem;
    border: 0.3rem solid black;
    font-size: 1.4rem;
}

.quadrado aside2{
    width: 100%;
    height: 2rem;
}

.quadrado aside3 {
    background-color: #2E6090;
    width: 90%;
    height: 20rem;
    border: 0.3rem solid black;
    font-size: 1.5rem;
    font-weight: 200;
}

.quadrado aside3 p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.quadrado aside3 p2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.quadrado aside3 aside{
    margin-left: 10rem;
    background-color: #B64F4F;
    width: 70%;
    height: 6rem;
}

.quadrado aside3 aside button{
    margin-left: 12.5rem;
    background-color: #B64F4F;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}

footer {
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    color: white;
    background-color: rgb(74, 101, 255);}

footer span a{
    padding-right: 1.2rem;}
    