* {
    border: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: #212425;}

header {
    display: flex;
    background-color: rgb(74, 101, 255);
    justify-content: space-between;}

header button{
    background-color: rgb(74, 101, 255);
     border: #ffffff00;}

header span{
    font-size: 28px;}

header span a {
    padding: 20px 35px;}

main {
    min-height: calc(100vh - 10rem);}
    
main h1 {
    color: white;
    padding-bottom: 120px;}

main span a {
     padding: 40px 170px;}



footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(74, 101, 255);}
