body {
    background-color: #212425;}

header {
    display: flex;
    background-color: rgb(74, 101, 255);
    justify-content: space-between;}

header button{
    background-color: rgb(74, 101, 255);
     border: #ffffff00;}

header span{
    font-size: 28px;}

header span a {
    padding: 20px 35px;}


main{
    min-height: 79vh;
}


footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(74, 101, 255);}
    