:root {
    --primary: #ffffff;


}

header {
    display: flex;
    background-color: rgb(74, 101, 255);
    margin-left: auto;
    margin-top: 1em;
    justify-content: space-between;
}

body {
    background-color: #212426;
}

footer {
    background-color: rgb(74, 101, 255);
}